




<div class="container-fluid" >
<p>
Founded in year 2011, Vinayak Plasto Pack, Aurangabad is a quality driven organization offering a wide range of Blow moulding containers, injection moulding articles.
Specialises in manufacturing of HDPE plastic bottels & containers.
</p>
<p>
Through our extensive range of products we offers distinctive expertise in developing packaging solutions for different products in markets,
Our range of bottels & containers used for packaging of pestisides,chemicals,edible-oil,lubricants,pharmaceuticls,food and cosmatics.
</p>
<p>
We are catering to needs our clients with our exclusive designs ,supreme quality of prouduts by ensuring consitent quality checks to provide leakproof,
chemical resistence,dimentionally accurate products with optimum strenth.
</p>
<p>
  Our aim is to deliver the fastest, full service, high-quality packaging in the industry. Our manufacturing unit is based in MIDC Waluj, Auirangabad, Maharashtra,
   where Vinayak Plasto Pack employs 15 people on a custom-built 21800 sq. foot site, with excellent transport links to the main road network.
</p>
  </div>
  
















