

<div class="container-fluid bg-light">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><i class="fa fa-map-marker"></i> Plot No F-110,MIDC,Waluj,Aurangabad-431 136.</p>
      <p><i class="fa fa-phone"></i> 9923328556 ,9960233777</p>
      <p><i class="fa fa-envelope"></i> vinayakplastopack@gmail.com</p>
    </div>
    <div class="col-sm-7">
      <form (ngSubmit)="processForm()">
      <div class="row">
        <!-- name -->
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="name"  type="text" required>
        </div>
        <!-- email -->
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="email" type="email" required>
        </div>
      </div>
      <!-- message -->
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" [(ngModel)]="message" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-info pull-right" type="submit">Send</button>
        </div>
      </div>
    </form>

    </div>
  </div>
</div>