<!--pestiside cans-->
<div class="producttype">
  <h3>1.Pesticide Bottles</h3>
  <div class="row">
  <div class="imagecontainer col-md-4">
    <img class="pimage" alt="Pesticide Bottles" src="./assets/images/image2.jpg" />
  </div>
  <div class="desccontainer col-md-8">
    <table class="table table-striped">
      <tbody>
      <tr><th> Product Name : </th><td> emida shape pestiside bottles </td></tr>
      <tr><th> Available in sizes: </th><td> 1000ml, 500ml, 250ml, 100ml, 50ml, 25ml </td></tr>
      <tr><th> Specifications: </th><td>  Bottle with Cap and Inner Plug </td></tr>
      <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue </td></tr>
    
      </tbody>
    </table>
    <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
  </div>
</div>
</div>


<div class="producttype">
  <h3>2.Pesticide 5-lit Jar</h3>
  <div class="row">
  <div class="imagecontainer col-md-4">
    <img class="pimage" alt="Pesticide Bottles" src="./assets/images/image7.jpeg"/>
  </div>
  <div class="desccontainer col-md-8">
    <table class="table table-striped">
      <tbody>
      <tr><th> Product Name : </th><td> oval shape pestiside jar </td></tr>
      <tr><th> Available in sizes: </th><td> 5lit </td></tr>
      <tr><th> Specifications: </th><td>  Jar with Cap and Inner Plug </td></tr>
      <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue</td></tr>
    
      </tbody>
    </table>
    <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
  </div>
</div>
</div>
<hr class="featurette-divider"/>

<!--diamond shape cans-->
<div class="producttype">
  <h3>3.Diamond 5-lit Jar</h3>
  <div class="row">
  <div class="imagecontainer col-md-4">
    <img class="pimage" alt="Diamond Bottles" src="./assets/images/image10.jpeg"/>
  </div>
  <div class="desccontainer col-md-8">
    <table class="table table-striped">
      <tbody>
      <tr><th> Product Name : </th><td> Plane Diamond </td></tr>
      <tr><th> Available in sizes: </th><td> 5lit </td></tr>
      <tr><th> Specifications: </th><td>  Jar with Cap and Inner Plug </td></tr>
      <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue</td></tr>
    
      </tbody>
    </table>
    <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
  </div>
</div>
</div>
<div class="producttype">
  <h3>4.Line Diamond 5-lit Jar</h3>
  <div class="row">
  <div class="imagecontainer col-md-4">
    <img class="pimage" alt="Diamond Bottles" src="./assets/images/image1.jpeg"/>
  </div>
  <div class="desccontainer col-md-8">
    <table class="table table-striped">
      <tbody>
      <tr><th> Product Name : </th><td> Line Diamond </td></tr>
      <tr><th> Available in sizes: </th><td> 5lit </td></tr>
      <tr><th> Specifications: </th><td>  Jar with Cap and Inner Plug </td></tr>
      <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue</td></tr>
    
      </tbody>
    </table>
    <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
  </div>
</div>
</div>
<hr class="featurette-divider"/>

<!--edible oil-->
<div class="producttype">
  <h3>5.Edible oil 5-lit Jar</h3>
  <div class="row">
  <div class="imagecontainer col-md-4">
    <img class="pimage" alt="Edible oil Bottles" src="./assets/images/image5.jpeg"/>
  </div>
  <div class="desccontainer col-md-8">
    <table class="table table-striped">
      <tbody>
      <tr><th> Product Name : </th><td> Dhara oil jar </td></tr>
      <tr><th> Available in sizes: </th><td> 5lit </td></tr>
      <tr><th> Specifications: </th><td>  Jar with Cap and Inner Plug </td></tr>
      <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue</td></tr>
    
      </tbody>
    </table>
    <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
  </div>
</div>
</div>
<div class="producttype">
  <h3>6.Edible oil 5-lit Jar</h3>
  <div class="row">
  <div class="imagecontainer col-md-4">
    <img class="pimage" alt="Edible oil Bottles" src="./assets/images/image18.jpeg"/>
  </div>
  <div class="desccontainer col-md-8">
    <table class="table table-striped">
      <tbody>
      <tr><th> Product Name : </th><td> Old-fortune oil jar </td></tr>
      <tr><th> Available in sizes: </th><td> 5lit </td></tr>
      <tr><th> Specifications: </th><td>  Jar with Cap and Inner Plug </td></tr>
      <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue</td></tr>
    
      </tbody>
    </table>
    <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
  </div>
</div>
</div>
<div class="producttype">
  <h3>7.Edible oil 5-lit Jar</h3>
  <div class="row">
  <div class="imagecontainer col-md-4">
    <img class="pimage" alt="Edible oil Bottles" src="./assets/images/image13.jpg"/>
  </div>
  <div class="desccontainer col-md-8">
    <table class="table table-striped">
      <tbody>
      <tr><th> Product Name : </th><td> fortune no1 oil jar </td></tr>
      <tr><th> Available in sizes: </th><td> 5lit </td></tr>
      <tr><th> Specifications: </th><td>  Jar with Cap and Inner Plug </td></tr>
      <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue</td></tr>
    
      </tbody>
    </table>
    <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
  </div>
</div>
</div>
<div class="producttype">
  <h3>8.Edible oil 5-lit Jar</h3>
  <div class="row">
  <div class="imagecontainer col-md-4">
    <img class="pimage" alt="Edible oil Bottles" src="./assets/images/image14.jpg"/>
  </div>
  <div class="desccontainer col-md-8">
    <table class="table table-striped">
      <tbody>
      <tr><th> Product Name : </th><td> fortune no2 oil jar </td></tr>
      <tr><th> Available in sizes: </th><td> 5lit </td></tr>
      <tr><th> Specifications: </th><td>  Jar with Cap and Inner Plug </td></tr>
      <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue</td></tr>
    
      </tbody>
    </table>
    <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
  </div>
</div>
</div>
<div class="producttype">
  <h3>9.Edible oil 5-lit Jar</h3>
  <div class="row">
  <div class="imagecontainer col-md-4">
    <img class="pimage" alt="Edible oil Bottles" src="./assets/images/image8.jpeg"/>
  </div>
  <div class="desccontainer col-md-8">
    <table class="table table-striped">
      <tbody>
      <tr><th> Product Name : </th><td> kirti oil jar </td></tr>
      <tr><th> Available in sizes: </th><td> 5lit </td></tr>
      <tr><th> Specifications: </th><td>  Jar with Cap and Inner Plug </td></tr>
      <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue</td></tr>
    
      </tbody>
    </table>
    <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
  </div>
</div>
</div>
<hr class="featurette-divider"/>
<!--15 lit jar-->
<div class="producttype">
  <h3>10. 15-lit Jar</h3>
  <div class="row">
  <div class="imagecontainer col-md-4">
    <img class="pimage" alt="15lit Bottles" src="./assets/images/image3.jpeg"/>
  </div>
  <div class="desccontainer col-md-8">
    <table class="table table-striped">
      <tbody>
      <tr><th> Product Name : </th><td>15-lit sp-1 oil jar </td></tr>
      <tr><th> Available in sizes: </th><td> 15lit </td></tr>
      <tr><th> Specifications: </th><td>  Jar with Cap and Inner Plug </td></tr>
      <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue</td></tr>
    
      </tbody>
    </table>
    <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
  </div>
</div>
</div>
<div class="producttype">
  <h3>11. 15-lit Jar</h3>
  <div class="row">
  <div class="imagecontainer col-md-4">
    <img class="pimage" alt="15lit Bottles" src="./assets/images/image6.jpeg"/>
  </div>
  <div class="desccontainer col-md-8">
    <table class="table table-striped">
      <tbody>
      <tr><th> Product Name : </th><td>15-lit sp-2 oil jar </td></tr>
      <tr><th> Available in sizes: </th><td> 15lit </td></tr>
      <tr><th> Specifications: </th><td>  Jar with Cap and Inner Plug </td></tr>
      <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue</td></tr>
    
      </tbody>
    </table>
    <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
  </div>
</div>
</div>
<hr class="featurette-divider"/>

<!--powder packaging-->
<div class="producttype">
 <h3>12.Packaging Container</h3>
 <div class="row">
 <div class="imagecontainer col-md-4">
   <img class="pimage" alt="15lit Bottles" src="./assets/images/image4.jpeg"/>
 </div>
 <div class="desccontainer col-md-8">
   <table class="table table-striped">
     <tbody>
     <tr><th> Product Name : </th><td>Powder Packaging Container</td></tr>
     <tr><th> Available in sizes: </th><td> 500gm,250gm </td></tr>
     <tr><th> Specifications: </th><td> Conatiner with Cap </td></tr>
     <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue</td></tr>
   
     </tbody>
   </table>
   <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
 </div>
</div>
</div>
<div class="producttype">
 <h3>13.Packaging Container</h3>
 <div class="row">
 <div class="imagecontainer col-md-4">
   <img class="pimage" alt="15lit Bottles" src="./assets/images/image16.jpeg"/>
 </div>
 <div class="desccontainer col-md-8">
   <table class="table table-striped">
     <tbody>
     <tr><th> Product Name : </th><td>Powder Packaging Container</td></tr>
     <tr><th> Available in sizes: </th><td> 250gm </td></tr>
     <tr><th> Specifications: </th><td> Conatiner with Cap </td></tr>
     <tr><th> Cap Colors Options: </th><td> Red, Green, White, Blue</td></tr>
   
     </tbody>
   </table>
   <button class="btn btn-info" data-toggle="modal" data-target="#contactModal">Send Enquiry</button>
 </div>
</div>
</div>