
<div class="container-fluid ">
  <!--<h2>Products</h2>
  <div class="container">
       <p><b>Pestisides/AgroChemical Containers</b></p>

      <div class="row">
         <div class="column">
            <img src="./assets/images/image2.jpeg" alt="p1" style="width:100%" height="300" >
         </div>
         <div class="column">
            <img src="./assets/images/image7.jpeg" alt="p2" style="width:200" height="300" >
         </div>
      </div>
  </div>
  <div class="container">
    <p><b>5-lit Edible-Oil Packaging Containers</b></p>

   <div class="row">
      <div class="column">
           <img src="./assets/images/image5.jpeg" alt="p3" style="width:200" height="300" >
      </div>
      <div class="column">
           <img src="./assets/images/image8.jpeg" alt="p4" style="width:200" height="300" >
      </div>
      <div class="column">
           <img src="./assets/images/image18.jpeg" alt="p5" style="width:200" height="300" >
      </div>
      <div class="column">
           <img src="./assets/images/image13.jpeg" alt="p6" style="width:200" height="300" >
      </div>
      <div class="column">
           <img src="./assets/images/image14.jpeg" alt="p7" style="width:200" height="300" >
      </div>
      <div class="column">
        <img src="./assets/images/image12.png" alt="p8" style="width:200" height="300" >
      </div>
   </div>
  </div>
  <div class="container">
    <p><b>15-lit Edible-Oil Packaging Containers</b></p>

   <div class="row">
      <div class="column">
         <img src="./assets/images/image3.jpeg" alt="p9" style="width:200" height="300" >
      </div>
      <div class="column">
         <img src="./assets/images/image6.jpeg" alt="p10" style="width:200" height="300" >
      </div>
   </div>
  </div>
  <div class="container">
    <p><b>5 lit diamond shape jars</b></p>

   <div class="row">
      <div class="column">
         <img src="./assets/images/image10.jpeg" alt="p11" style="width:200" height="300" >
      </div>
      
      <div class="column">
        <img src="./assets/images/image9.jpg" alt="p13" style="width:200" height="300" >
     </div>
     <div class="column">
      <img src="./assets/images/image1.jpeg" alt="p12" style="width:200" height="300" >
   </div>

    
    </div>
    
  </div>-->
<app-gallery></app-gallery>

</div>


  
