






<div class="container-fluid ">
<h4>product list</h4>
<div class="container">
  <h6><b>Pestisides/AgroChemical Containers</b></h6>
  <div class="row">
    <div class="col">
      <img src="./assets/images/image2.jpeg" class="img-fluid">

    </div>
    <div class="col">
      <img src="./assets/images/image7.jpeg" class="img-fluid" width="200" height="300">

    </div>
  </div>
  <div class="container">
    <h6><b>Food Packaging Containers</b></h6>
    <div class="row">
      <div class="col">
        <img src="./assets/images/image5.jpeg" class="img-fluid">
  
      </div>
      <div class="col">
        <img src="./assets/images/image8.jpeg" class="img-fluid" width="200" height="300">
  
      </div>
      <div class="col">
        <img src="./assets/images/image12.jpeg" class="img-fluid" width="200" height="300">
  
      </div>
      <div class="col">
        <img src="./assets/images/image13.jpeg" class="img-fluid" width="200" height="300">
  
      </div>
      <div class="col">
        <img src="./assets/images/image14.jpeg" class="img-fluid" width="200" height="300">
  
      </div>
    </div>
    <div class="container">
    <h6><b>Powder Packaging Containers</b></h6>
    <div class="row">
      <div class="col">
        <img src="./assets/images/image4.jpeg" class="img-fluid" >
  
      </div>
      <div class="col">
        <img src="./assets/images/image16.jpeg" class="img-fluid" width="200" height="300">
  
      </div>
    </div>
    <div class="container">
      <h6><b>15 lit oil packaging jars</b></h6>
      <div class="row">
        <div class="col">
          <img src="./assets/images/image3.jpeg" class="img-fluid" width="200" height="300" >
    
        </div>
        <div class="col">
          <img src="./assets/images/image6.jpeg" class="img-fluid" width="200" height="300">
    
        </div>
      </div>
      <div class="container">
      <h6><b>5 lit diamond shape jars</b></h6>
      <div class="row">
        <div class="col">
          <img src="./assets/images/image1.jpeg" class="img-fluid"  >
    
        </div>
        <div class="col">
          <img src="./assets/images/image9.jpeg" class="img-fluid" >
    
        </div>
        <div class="col">
          <img src="./assets/images/image10.jpeg" class="img-fluid" width="200" height="200">
    
        </div>
      </div>
  

</div>
</div>


  
