
<!--<div class="container-fluid">
<div class="jumbotron">
  <h1 class="display-5">Vinayak Plasto Pack</h1>
  <div class="container">
    <img src="assets/images/diamond.jpeg" class="img-rounded" alt="diamond" width="300" height="300"> 
  </div>

</div>
</div>-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1><b>VINAYAK PLASTO PACK</b></h1>      
    <h6>Mfg. of : Blow Moulding Conatiners & Injection Moulding Articles</h6> 
    <p>Plot No F-110,MIDC,Waluj,Aurangabad-431 136.(M.S) </p>
    </div>
</div>
